Repository pablomaribondo/react-pagination: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{jsx,js}": "eslint --fix",
  "*.{css,less,scss,html,json,jsx,js,md}": "prettier --write"
}

docs: add readme file
  README.md
Due: prettier --write

style: clean index.html file
  public/index.html
Due: prettier --write

chore: add bulma
  package.json
  src/App.js
  src/index.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: create usePagination hook
  src/hooks/usePagination.js
Due: eslint --fix, prettier --write

feat: create header component
  src/components/Header.js
Due: eslint --fix, prettier --write

feat: add countries data
  src/data/countries.json
Due: prettier --write

feat: create countries component
  src/components/Countries.js
Due: eslint --fix, prettier --write

feat: update app component
  src/App.js
Due: eslint --fix, prettier --write

docs: add screenshot to readme
  .github/screenshot.png
  README.md
  src/App.js
Due: eslint --fix, prettier --write

refactor: migrate to typescript
  .eslintrc.json
  .lintstagedrc.json
  README.md
  package.json
  src/App.css
  src/App.tsx
  src/components/Countries.tsx
  src/components/Header.tsx
  src/hooks/usePagination.ts
  src/index.tsx
  src/react-app-env.d.ts
  src/types.d.ts
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: add git message linter
  package.json
  yarn.lock
Due: prettier --write

create search form
  .vscode/settings.json
  src/App.css
  src/App.tsx
  src/components/Countries.tsx
Due: prettier --write

add new property to Countries component
  src/App.tsx
  src/components/Countries.tsx
  src/types.d.ts
Due: none

add search funcionality
  src/components/Countries.tsx
  src/hooks/usePagination.ts
  src/types.d.ts
Due: none

updated readme
  .github/screenshot.png
  README.md
Due: prettier --write

chore: add font awesome
  public/index.html
Due: prettier --write

feat: add sorting funcionality
  src/App.css
  src/components/Countries.tsx
  src/hooks/usePagination.ts
Due: prettier --write

docs: update readme
  .github/screenshot.png
  README.md
Due: prettier --write
